<section class="admin">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>Add A Post</h2>
                <div class="horizontal-line"></div>
                <br/>
                <%= render 'layouts/messages' %>
                <%= form_for @blog, url: dashboard_create_post_path, html: { id: 'newPostForm' } do |f| %>
                    <div class="form-group">
                        <%= f.text_field :title, class: 'form-control', placeholder: 'Post Title', data: {:validation => "required", "validation-error-msg" => "Title cannot be empty"} %>
                    </div>
                    
                    <div class="form-group">
                        <%= f.text_field :sub_title, class: 'form-control', placeholder: 'Post Subtitle' %>
                    </div>
                    
                    <div class="form-group">
                        <%= f.cktext_area :post, class: 'form-control', ckeditor: {language: 'en'} %>
                    </div>
                    <%= f.button "Submit", class: "btn btn-primary btn-block" %>
                <% end %>
            </div>
        </div>
    </div>
</section>
