<!-- Header -->
<header class="blog-post">
    <div class="bg-overlay pattern"></div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="blog-post-intro">
                <h2><%= @blog.title %></h2>
                <% unless @blog.sub_title.blank? %>
                <span class="title"><%= @blog.sub_title %></span>
                <% end %>
                <div class="meta">Posted on <%= @blog.created_at.strftime("%B %e, %Y") %> at <%= @blog.created_at.strftime("%H:%M") %></div>
            </div>
        </div>
    </div>
</header>
<section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="blog-text">
                    <%= @blog.post.html_safe %>
                </div>
            </div>
        </div>
    </div>
</section>