<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top"><%= image_tag("logo.png") %></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Workshop</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <%= link_to new_contact_path do %>
                            <i class="fa fa-envelope-o fa-lg"></i>
                        <% end %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
    <div class="bg-overlay pattern"></div>
            <div class="row">
                <div class="col-lg-12">
                    <%= image_tag("profile.png") %>
                    <div class="intro-text">
                        <span class="name">Hello, I'm Deri</span>
                        <div class="horizontal-line"></div>
                        <span class="skills">Just started learning to code in iOS - Ruby on Rails - Android</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Workshop</h2>
                    <div class="horizontal-line"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-2 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("portfolio/mpl.png", class: "img-responsive") %>
                    </a>
                </div>
                <div class="col-sm-2 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <%= image_tag("portfolio/mdtaufan.jpg", class: "img-responsive") %>
                    </a>
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
    </section>
    
    <!-- About Section -->
    <section class="success" id="about">
    <div class="bg-overlay pattern"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <div class="horizontal-line"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <p>This website is dedicated to my journey of learning to code for iOS, Ruby on Rails and Android.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Mobile Phone Locator</h2>
                            <div class="horizontal-line"></div>
                            <%= image_tag("portfolio/mpl.png", class: "img-responsive img-centered") %>
                            <p>Be ready to amaze your friends with this great app. Simply enter the phone number of your friends who sit next to you and the app will start 'locating' their phones.</p>
                            <ul class="list-inline item-details">
                                <li>Platform:
                                    <strong>iOS
                                    </strong>
                                </li>
                                <li>Code Used:
                                    <strong>Swift
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>MDTaufan.com</h2>
                            <div class="horizontal-line"></div>
                            <%= image_tag("portfolio/mdtaufan-modal.jpg", class: "img-responsive img-centered") %>
                            <p>MDTaufan.com is my personal website to showcase my journey on learning to code.</p>
                            <ul class="list-inline item-details">
                                <li>Platform:
                                    <strong>Web App
                                    </strong>
                                </li>
                                <li>Code Used:
                                    <strong>Ruby on Rails
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>