<!DOCTYPE html>
<html>
<head>
  <title>Muhammad Deri Taufan</title>
  <link rel="shortcut icon" href=<%= asset_path("favicon.png") %>>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300,200,100,800,900' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" class="index">
<% current_controller = Rails.application.routes.recognize_path(request.path)[:controller] %>
<% if current_controller["devise"] || current_controller["dashboard"] %>
  <%= render 'layouts/navbar_admin' %>
<% elsif current_controller["pages"] %>
  <%= render 'layouts/navbar_index' %>
<% else %>
  <%= render 'layouts/navbar_other' %>
<% end %>
<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
